<!-- 
  @ Author: Idriss Said Alaoui
  @ Company: present profit solutions
  @ Project: Contact Book - AngularJs Technical Test
  @ Date: 2014-10-20
  @ Description: template of the table showing Contactsframeworks.
 -->

<table class="table table-bordered" ng-hide="contacts.length === 0">
	<caption><div class="alert alert-info" role="alert">Carnet de contacts</div></caption>
	<caption><div style='font-weight: bold; padding-bottom:15px;'>Votre carnet contient {{contacts.length}} contacts</div></caption>
	
	<thead>
	    <tr>
	        <th ><a href="" ng-click="orderByField='name.v'; reverseSort = !reverseSort">Nom</a></th>
	        <th ><a href="" ng-click="orderByField='firstName.v'; reverseSort = !reverseSort">Prénom</a></th>
	        <th ><a href="" ng-click="orderByField='birthDate.v'; reverseSort = !reverseSort">Age</a></th>
	        <th ><a href="" ng-click="orderByField='tel.v'; reverseSort = !reverseSort">Téléphone</a></th>
	        <th ><a href="" ng-click="orderByField='address.v'; reverseSort = !reverseSort">Adresse</a></th>
	    </tr>
	</thead>
	<tbody>
	    <tr ng-repeat="contact in contacts | orderBy:orderByField:reverseSort" ng-class="{danger:checkRed(contact.birthDate.v), warning:checkYellow(contact.birthDate.v)} ">
	        <td>{{contact.name.v}}</td>
	        <td>{{contact.firstName.v}}</td>
	        <td>
	        	{{contact.birthDate.v  | ageFilter}}
	        </td>
	        <td><a href="tel:{{contact.tel.v}}">{{contact.tel.v}}</a></td>
	        <td><a href="https://www.google.com/maps/place/{{contact.address.v}}">{{contact.address.v}}</a></td>
	    </tr>
	</tbody>
</table>