<!-- 
  @ Author: Idriss Said Alaoui
  @ Company: present profit solutions
  @ Project: Contact Book - AngularJs Technical Test
  @ Date: 2014-10-20
  @ Description: template loading bar
 -->

<div class="progress" ng-show="contacts.length === 0">
	<div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		Chargement des contacts
	</div>
</div>